@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* Pour tous les navigateurs */
::-webkit-scrollbar {
    width: 13px; /* Largeur de la scrollbar */
}

/* Track (background de la scrollbar) */
::-webkit-scrollbar-track {
    background: #f0f0f0; /* Couleur de l'arrière-plan de la scrollbar */
}

/* Thumb (la poignée de la scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: #5c6ac4; /* Couleur de la thumb */
    border-radius: 8px; /* Rayon de la bordure de la thumb */
    border: 2px solid #3f4eae; /* Bordure de la thumb */
}

/* Thumb au survol */
::-webkit-scrollbar-thumb:hover {
    background-color: #4c5aa9; /* Couleur de la thumb au survol */
}

/* Corner (coin de la scrollbar) */
::-webkit-scrollbar-corner {
    background: transparent; /* Couleur de fond du coin */
}
